@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-size{
  font-size: 32px;
  line-height: 40px;
  width: 250px;
  height: 60px;
  gap: 18px;
}

.nav-bar{
  width: 600px;
  height: 60px;
  gap: 100px;
}

.nav-list{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  gap: 42.5px;
}

.icons{
  width: 156px;
  height: 24px;
  gap: 42px;
}

.footer-props{
  height: 474px;
  padding: 40px;
  gap: 70px;
  top: 20px;
  left: 20px;
}

.products{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.products-ls{
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}